body {
   background-color:aliceblue;
}

#summary {
    padding-left: 20px;
    padding-top:40px;
}
.game-container h1{
    font-family:'Agency FB';
    text-align:center;
    font-weight:bold;
    color:darkblue;
}

.game-container input{
    display:inline-block;
    vertical-align:middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
}

label.error{
    color:crimson;  
}

.game-container span {
    font-weight:bold;
    text-align: right;
    display:inline-block;
    padding-top: 5px;
    width: 140px;
    float: left;
}


@media only screen and (max-width : 395px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }

    .game-container > span {
        width: 70px;
    }
}

@media only screen and (min-width : 1200px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }
    
    .game-container > span {
        width: 70px;
    }
}





